@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/*
    regular 400
    medium 500
    semibold 600
    extrabold 800 
 */
*
{
    box-sizing: border-box;
}
html
{
    overflow-x: hidden;
}
body
{
    font-family: "Montserrat", serif;
    margin: 0;
    background-color: #121517;
    color: #D9D9D9;
    font-weight: 400;
    font-size: 20px;
    line-height: 163%; /*процент считается от font-size*/
    letter-spacing: -0.02em;
}
.container
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
/* STARBUCKS .logo */
.logo 
{
    font-weight: 800;
    font-size: 37px;
    letter-spacing: -0.03em;
}
.text-gradient
{
    background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    color: transparent;
}
.header 
{
    border: 3px solid green;
    padding: 50px 0;
}
.header .container 
{
    border: 1px solid white;
    display: flex;
    align-items: baseline;
    /* gap: 95px; */
}
img
{
    max-width: 100%;
}
a
{
    color: #D9D9D9;
    text-decoration: none;
    transition: opacity 0.2s;
}
a:hover
{
    opacity: 0.8;
}
.header__link
{
    margin-left: 95px;    
}

/*******************************************************************/
.main
{
    border: 2px solid red;
}
.welcome 
{
    margin-top: 30px;
}
.welcome .container 
{
    border: 3px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welcome__desc
{
    max-width: 575px;
}
h1, h2
{
    font-size: 800;
    margin: 0;
}

/* New Cafe by Starbucks */
.title 
{
    font-size: 80px;
    line-height: 109%;
    letter-spacing: -0.03em;
    color: #fff;
}
.welcome__title 
{
    margin-bottom: 55px;
    position: relative;
}
.welcome__title::before
{
    content: "";
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: -5;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35,114,73,0.55) 0%, rgba(53,198,107,0.73) 51.85%);
    filter: blur(90px);
}
.welcome__text 
{
    margin-bottom: 55px;
}
.welcome__btns-wrapper 
{
    display: flex;
    gap: 15px;
    margin-bottom: 55px;
}
.btn 
{
    background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
    border-radius: 83px;
    padding: 20px 80px;
    font-weight: 639;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #fff;
}
.link 
{
    padding: 20px 55px;

    background: #121517;
    border: 1px solid #dadada;
    border-radius: 83px;

    font-size: 24px;
    letter-spacing: -0.03em;
    color: #d9d9d9;
}
.stats 
{
    display: flex;
    gap: 45px;
    border: 1px solid red;
}
.stats__item 
{
    line-height: 144%;
    width: 126px;
    border: 1px solid white;
}
.span__num
{
    font-size: 62px;
    letter-spacing: -0.03em;
    color: #fff;
}
.span__num::after
{
    content: "+";
    background: linear-gradient(244deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    color: transparent;
}
.welcome__img-wrapper 
{
    border: 1px solid white;
    padding-right: 60px;
    position: relative;
}
.welcome__img-wrapper::before
{
    content: "";
    position: absolute;
    right: -230px;
    bottom: -160px;
    z-index: -10;
    background-image: url("../images/icons/lines.svg");
    background-size: contain;
    background-position: center;
    width: 860px;
    height: 620px;
    background-repeat: no-repeat;
}
.welcome__img-wrapper::after
{
    border: 1px solid white;
    content: "";
    position: absolute;
    bottom: 30px;
    right: 100px;
    z-index: -5;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35,114,73,0.55) 0%, rgba(53,198,107,0.73) 51.85%);
    filter: blur(120px);
}
.welcome__img 
{
    width: 470px;
}
/**********************************************************************/
/*Контейнер: We Have*/
.benefits 
{

}
.benefits__container 
{
    background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
}
.benefits__item 
{
    max-width: 220px;
    text-align: center;
    border: 1px solid red;
}
.benefits__img-wrapper 
{

}
.benefits__icon 
{
    width: 150px;
}
.benefits__title 
{
    font-weight: 500;
    font-size: 32px;
    color: #121517;
}
.benefits__desc 
{
    line-height: 163%;
    color: rgba(18, 21, 23, 0.9);
}